.header {
    align-items: center;
    background-color: #cdcdcd;
    background-image: url(../../../assets/img/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 50px 15px;
}

