.colorItem {
    margin-top:16px;
}
.colorItem__button {
    border:none;
    border-radius:50%;
    min-height: 26px;
    min-width:26px;
    max-height: 26px;
    max-width:26px;
    padding: 6px;
}